/* color picker blue #11aadc */
/* color picker oof-whites #f3f4ee #e9e9df #ebece7 #ebebe3 #ece-eeb*/
/* baseline styles */
* {
    box-sizing: border-box;
    background-color: #f3f4ee;
}
body {
    background-color: #f3f4ee;
}
hr {
    border-top: 1px solid #bfd7ff;
    width: 90%;
}
.center-text {
    text-align: center;
}
h1,
h2 {
    font-family: 'Playfair Display', serif;
}
h4,
h5,
p {
    font-family: 'Montserrat', sans-serif;
}
/* secondary color override */
.bs-secondary {
    background-color: #11aadc !important;
}
/* navbar */
#logo {
    max-width: 20vw;
}
.bg-nav {
    background-color: #f3f4ee !important;
}
/* ART section */
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.heading-divider {
    width: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
} 
/* locations section */
ul {
    list-style-type: none;
    padding-left: 0;
}
/* images */
.two-wide-img {
    display: inline-block;
    width: 48vw;
    padding: 5px;
}
.two-wide-img>img {
    width: 95%;
}